h1{
	text-align: center;
	font-size: 50px;
	margin-bottom: -17px;
	margin-top: -15px;

}

h2{
	font-size: 70px;
	text-align: center;
	margin-top: 20px;
}

img[src*="degea.jpg"]{
	margin-bottom: 80px;
	padding-left: 20px;
}

img[src*="rice.jpg"]{
	max-height: 245px;
	width: 450px;
	margin-left: 60px;
	margin-bottom: 80px;
}

img[src*="vla.jpg"]{
	height: 245px;
	width: 450px;
	margin-left: 60px;
	margin-bottom: 80px;
}

#two{
	width: 425px;
	margin-left: 1070px;
	margin-top: -80px;

}

#three{
	font-size: 30px;
	color: hotpink;

}

#three:hover{
	color: #584af0;
}

#four{
	width: 443px;
	margin-top: -150px;
	margin-left: 540px;
	padding-top: 10px;
}

#five{
	font-size: 30px;
	color: hotpink;
}

#five:hover{
	color: #584af0;
}

#seven{
	width: 425px;
	margin-top: -140px;
	margin-left: 30px;

}

#six{
	font-size: 30px;
	color: hotpink;
}

#six:hover{
	color: #584af0;
}

h3{
	font-size: 50px;
	margin-left: 540px;
}